@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');


/* media selector for mobile device widths  */
@media only screen and (max-width: 600px) {
    .stage {
        width: 100% !important;
        height: fit-content !important;
    }
    
    .container{
        height: fit-content !important;
    }
    
    .grid{
        display: block !important;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

.stage{
    /* background-color: rgb(55, 80, 224); */
    /* background-color: white; */
    border: black 1px solid;
    color: black;
    width: 500px;
    height: 330px;
    padding: 20px;
    overflow: scroll;
    
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.grid{
    display: grid;
    gap: 50px 50px;
    grid-template-columns: auto auto;
}

.pfp{
    width: 100px;
    border-radius: 50%;
}

a {
    color: blue;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

small{
    line-height: 120%;
    display: block;
}

a:hover{
    color: lightblue;
    cursor: pointer;
}

.btn-group button {
    /* background-color: rgb(184, 189, 255); */
    background-color: white;
    border: 1px solid black; 
    color: black; 
    padding: 10px 10px; 
    cursor: pointer; 
    float: left; 
    margin-bottom: 10px;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; 
}

.btn-group button:hover:not(:nth-child(2)) {
    background-color: black;
    color: white;
}

#sketch{
    position: absolute;
    z-index: -1;
}

#projects, #home, #sketches{
    width: 275px;
    height: 330px;
}

#projects{
    overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.stage::-webkit-scrollbar {
    display: none;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #00000000;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}